#group-body {
  background: #ffffff;
}

@media only screen and (min-width: 48.0625em) {
  #group-body {
    padding-top: 215px;
  }
}

h1 {
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
}

@media only screen and (min-width: 48.0625em) {
  .super-group-header-overlay-wrap {
    top: -171px;
  }
}

.super-group-header-overlay {
  background: none;
  display: -webkit-flex;
  display: flex;
  height: 172px;
}

.super-group-header-overlay h1 {
  left: 0;
  position: relative;
  top: 0;
  z-index: 0;
}

.header-id {
  background-image: url("/app/site/groups/1019/uploads/builds-logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

@media only screen and (min-width: 48em) {
  .header-id {
    width: 50%;
  }
}

.longname {
  background-color: #5B1865;
  color: #fff;
  display: none;
  font-size: 2.3rem;
  padding: .5em 0 .5em .5em !important;
}

@media only screen and (min-width: 48em) {
  .longname {
    display: block;
    margin: 0 !important;
    width: 50%;
  }
}

@media only screen and (min-width: 60.625em) {
  .longname {
    font-size: 2.5rem;
  }
}

.super-group-menu-wrap {
  background: #454B66;
  box-shadow: none;
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
}

@media only screen and (min-width: 48.0625em) {
  .super-group-menu-wrap {
    height: auto;
  }
}

.menuExpand .visible-links {
  margin-top: 3em;
}

.menuExpand .visible-links .subMenuExpand {
  box-shadow: none;
  position: relative;
  top: 0;
}

.menuExpand .visible-links .subMenuExpand::before {
  display: none;
}

.menuExpand .visible-links .menuItem button {
  padding: 10px 15px !important;
}

.menuExpand .visible-links ul {
  background: rgba(0, 0, 0, 0.15) !important;
}

.menuExpand .visible-links ul ul {
  top: 0 !important;
}

.menuExpand .visible-links li a {
  color: #fff !important;
}

.super-group-menu {
  justify-content: center;
}

.super-group-menu .visible-links li .meta,
.super-group-menu .visible-links li.active .meta {
  background: #fff;
  color: #454B66;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: .7rem;
  font-weight: bold;
  top: .3em;
  right: 0;
}

.super-group-menu .visible-links li a,
.super-group-menu .visible-links li.active a {
  color: #fff;
  padding: 10px 15px !important;
}

.super-group-menu .super-group-menu > li[class^='group'] a::after,
.super-group-menu li[class*=' group'] a::after {
  display: none;
}

.super-group-menu .menuItem button {
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
  padding: 12px 15px !important;
}

.super-group-menu .group-nav li a::after {
  display: none;
}

.super-group-menu ul .option-select {
  display: none;
}

.super-group-menu ul ul {
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.65);
}

.super-group-menu ul ul li a {
  color: #454B66 !important;
}

.super-group-menu ul ul li a:hover {
  background: none;
  text-decoration: underline;
}

.super-group-menu ul ul ul {
  box-shadow: none;
}

.super-group-menu ul ul ul::before {
  display: none;
}

.super-group-menu ul ul ul li a {
  position: relative;
}

.super-group-menu ul ul ul li a::before {
  background: #454B66;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: .5rem;
}

.super-group-content-wrap {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  padding-left: 2em;
  padding-right: 2em;
}

.super-group-footer-wrap {
  background: #454B66;
}

.super-group-footer-wrap a {
  color: #fff;
  text-decoration: underline;
}

main p a,
main p a:visited,
main a,
main a:visited {
  color: #D63D4D;
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
}

main p a:hover,
main p a:visited:hover,
main a:hover,
main a:visited:hover {
  color: #5B1865;
  text-decoration: underline;
}

main .btn {
  background: #D63D4D;
}

main .btn:hover {
  background: #5B1865;
}

main .data-entry input.entry-search-submit {
  background: #D63D4D;
}

main .data-entry input.entry-search-submit:hover {
  background: #5B1865;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: #2C5784;
}
