//Colors
$toledo: #381D2A;
$palatinatePurple: #5B1865;
$mandy: #D63D4D;
$bdazzledBlue: #2C5784;
$independance: #454B66;
$white: #fff;

//Mixins
@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

#group-body {
  @include respond-at(48.0625em) {
    padding-top: 215px;
  }
  background: #ffffff;
}

h1 {
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
}

.super-group-header-overlay-wrap {
  @include respond-at(48.0625em) {
    top: -171px;
  }
}

.super-group-header-overlay {
  background: none;
  display: -webkit-flex;
  display: flex;
  height: 172px;

  h1 {
    left: 0;
    position: relative;
    top: 0;
    z-index: 0;
  }
}

.header-id {
  @include respond-at(48em) {
    width: 50%;
  }
  background-image: url('/community/groups/builds/File:/uploads/builds-logo-white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.longname {
  @include respond-at(48em) {
    display: block;
    margin: 0 !important;
    width: 50%;
  }
  @include respond-at(64.4375em) {
    font-size: 2.5rem;
  }
  background-color: $palatinatePurple;
  color: $white;
  display: none;
  font-size: 2rem;
  padding: .5em 0 .5em .5em !important;
}

// Supergroup Menu Overrides
.super-group-menu-wrap {
  @include respond-at(48.0625em) {
    height: auto;
  }
  background: $independance;
  box-shadow: none;
  font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
  height: 50px;
}

.menuExpand {
  .visible-links {
    margin-top: 3em;
    width: 100%;

    .subMenuExpand {
      box-shadow: none;
      position: relative;
      top: 0;

      &::before {
        display: none;
      }
    }

    .menuItem {
      button {
        padding: 10px 15px !important;
      }
    }

    ul {
      background: rgba(0,0,0,0.15) !important;
      ul {
        top: 0 !important;
        li {
          a {
            &::before {
              background: $white;
            }
          }
        }
      }
    }

    li {
      a {
        color: $white !important;
      }
    }
  }
}

.super-group-menu {
  justify-content: center;

  .visible-links {

    li,
    li.active {

      .meta {
        background: $white;
        color: $independance;
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
        font-size: .7rem;
        font-weight: bold;
        top: .3em;
        right: 0;
      }

      a {
        color: $white;
        padding: 10px 15px !important;
      }
    }
  }

  .super-group-menu > li[class^='group'],
  li[class*=' group'] {
    a::after {
      display: none;
    }
  }

  .menuItem {
    button {
      font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;
      padding: 12px 15px !important;
    }
  }

  .group-nav {
    li {
      a {
        &::after {
          display: none;
        }
      }
    }
  }

  ul {
    .option-select {
      display: none;
    }

    ul {
      background: $white;
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.65);
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.65);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.65);

      li {
        a {
          color: $independance !important;

          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }

      ul {
        box-shadow: none;

        &::before {
          display: none;
        }

        li {
          a {
            position: relative;

            &::before {
              background: $independance;
							content: '';
							display: block;
							height: 1px;
							left: 0;
							position: absolute;
							top: 50%;
							width: .5rem;
            }
          }
        }
      }
    }
  }
}

.super-group-content-wrap {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  padding-left: 2em;
  padding-right: 2em;
}

.super-group-footer-wrap {
  background: $independance;

  a {
    color: $white;
    text-decoration: underline;
  }
}

// Link and Button Overrides
main {
  p a,
  p a:visited,
  a,
  a:visited {
    color: $mandy;
    font-family: 'Dosis', 'montserratregular', Helvetica Neue, Helvetica, sans-serif;

    &:hover {
      color: $palatinatePurple;
      text-decoration: underline;
    }
  }

  .btn {
    background: $mandy;

    &:hover {
      background: $palatinatePurple;
    }
  }

  .data-entry {
    input.entry-search-submit {
      background: $mandy;

      &:hover {
        background: $palatinatePurple;
      }
    }
  }
}

// Headers
main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $bdazzledBlue;
  }
}
